#div1{
	width: 100%;
}
#div1>img{
	width: 100%;
}
*{
	margin: 0;
}
#div2{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
#div2 > img{
	width: 20%;
	align-items: center;
	justify-content: center;
}
#div3{
	width: 100%;
}
#div3>#div3_top>img{
	width: 100%;
}
#div3_bm{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-right: 3px;
}
#div3_bm>div{
	width: 100%;
}
#div3_bm>div>img{
	width: 90%;
}
#div4{
	width: 100%;
	display:flex;
	justify-content: space-around;
}
#div4>div{
	width: 23%;
}
#div4>div>img{
	width: 100%;
}
#div5{
	width: 100%;
}
#div6{
	width: 100%;
}
#div6>div{
	width: 100%;
}
#div6>div>img{
	width: 97%;
}
#div7{
	width: 100%;
}

#div7>div>img{
	width: 100%;
}

#div8{
	width: 100%;
	display:flex;
	justify-content: space-around;
}
#div8>div{
	width: 50%;
}
#div8>div>img{
	width: 94%;
}
#head{
	width: 100%;
	height: 27px;
	position: fixed;
	background-color: whitesmoke;
}
ul{
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin-left:-45px;
	margin-top: 5px;
}
ul>li{
	list-style: none;
	font-family: "黑体";
	font-weight: 500;
}
